@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-black leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff; /* Contour blanc */
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99; /* Contour vert fluo lors du survol */
    transition: -webkit-text-stroke 0.3s ease; /* Transition pour le changement de contour */
  }

  .btn-primary {
    @apply bg-accent text-white py-2 px-4 rounded-full shadow-md transition-all duration-300; /* Styles du bouton primaire */
  }

  .btn-primary:hover {
    @apply bg-accent bg-opacity-80; /* Changement d'opacité lors du survol */
    transform: scale(1.05); /* Légère augmentation de taille au survol */
  }

  /* Animation for floating icons */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Montée de l'icône */
    }
    100% {
      transform: translateY(0); /* Retour à la position d'origine */
    }
  }

  .floating-icon {
    animation: float 3s ease-in-out infinite; /* Animation de flottement */
    position: absolute; /* Positionnement absolu pour le flottement */
  }
}
